In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
application_df.isnull().sum()

EIN                       0
NAME                      0
APPLICATION_TYPE          0
AFFILIATION               0
CLASSIFICATION            0
USE_CASE                  0
ORGANIZATION              0
STATUS                    0
INCOME_AMT                0
SPECIAL_CONSIDERATIONS    0
ASK_AMT                   0
IS_SUCCESSFUL             0
dtype: int64

In [3]:
application_df.duplicated().sum()

0

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns = ['EIN', 'NAME'], inplace = True)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [5]:
df_columns = list(application_df.columns)
df_columns

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'STATUS',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS',
 'ASK_AMT',
 'IS_SUCCESSFUL']

In [6]:
# Determine the number of unique values in each column.
unique_counts = [application_df[col].nunique() for col in df_columns]
unique_counts

[17, 6, 71, 5, 4, 2, 9, 2, 8747, 2]

In [7]:
# Look at APPLICATION_TYPE value counts for binning
appl_vc = application_df["APPLICATION_TYPE"].value_counts()
appl_vc

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(appl_vc[appl_vc<600].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
class_vc = application_df["CLASSIFICATION"].value_counts()
class_vc

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
countclass = class_vc[class_vc>1]
countclass

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_vc[class_vc<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
application_gd = pd.get_dummies(application_df)
application_gd.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [13]:
# Split our preprocessed data into our features and target arrays (target = successfullness)
X = application_gd.drop('IS_SUCCESSFUL', axis=1).values
y = application_gd['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [18]:
!pip install keras-tuner

Requirement already satisfied: keras-tuner in c:\users\amudd\anaconda3\lib\site-packages (1.2.0)
Requirement already satisfied: kt-legacy in c:\users\amudd\anaconda3\lib\site-packages (from keras-tuner) (1.0.4)
Requirement already satisfied: requests in c:\users\amudd\anaconda3\lib\site-packages (from keras-tuner) (2.27.1)
Requirement already satisfied: ipython in c:\users\amudd\anaconda3\lib\site-packages (from keras-tuner) (8.2.0)
Requirement already satisfied: tensorflow>=2.0 in c:\users\amudd\anaconda3\lib\site-packages (from keras-tuner) (2.11.0)
Requirement already satisfied: packaging in c:\users\amudd\anaconda3\lib\site-packages (from keras-tuner) (21.3)
Requirement already satisfied: tensorflow-intel==2.11.0 in c:\users\amudd\anaconda3\lib\site-packages (from tensorflow>=2.0->keras-tuner) (2.11.0)
Requirement already satisfied: h5py>=2.9.0 in c:\users\amudd\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.0->keras-tuner) (3.6.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\amudd\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.0->keras-tuner) (4.1.1)
Requirement already satisfied: flatbuffers>=2.0 in c:\users\amudd\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.0->keras-tuner) (23.1.21)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\amudd\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.0->keras-tuner) (0.2.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\amudd\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.0->keras-tuner) (1.6.3)
Requirement already satisfied: six>=1.12.0 in c:\users\amudd\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.0->keras-tuner) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\amudd\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.0->keras-tuner) (2.2.0)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\amudd\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.0->keras-tuner) (3.3.0)
Requirement already satisfied: tensorboard<2.12,>=2.11 in c:\users\amudd\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.0->keras-tuner) (2.11.2)
Requirement already satisfied: libclang>=13.0.0 in c:\users\amudd\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.0->keras-tuner) (15.0.6.1)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in c:\users\amudd\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.0->keras-tuner) (3.19.1)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\amudd\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.0->keras-tuner) (1.12.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\amudd\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.0->keras-tuner) (1.42.0)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in c:\users\amudd\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.0->keras-tuner) (0.4.0)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\amudd\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.0->keras-tuner) (1.4.0)
Requirement already satisfied: setuptools in c:\users\amudd\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.0->keras-tuner) (61.2.0)
Requirement already satisfied: tensorflow-estimator<2.12,>=2.11.0 in c:\users\amudd\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.0->keras-tuner) (2.11.0)
Requirement already satisfied: keras<2.12,>=2.11.0 in c:\users\amudd\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.0->keras-tuner) (2.11.0)
Requirement already satisfied: numpy>=1.20 in c:\users\amudd\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.0->keras-tuner) (1.21.5)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\amudd\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow>=2.0->keras-tuner) (0.30.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\amudd\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.11.0->tensorflow>=2.0->keras-tuner) (0.37.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in c:\users\amudd\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow>=2.0->keras-tuner) (0.6.1)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\amudd\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow>=2.0->keras-tuner) (2.0.3)
Requirement already satisfied: markdown>=2.6.8 in c:\users\amudd\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow>=2.0->keras-tuner) (3.3.4)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\amudd\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow>=2.0->keras-tuner) (1.33.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in c:\users\amudd\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow>=2.0->keras-tuner) (0.4.6)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in c:\users\amudd\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow>=2.0->keras-tuner) (1.8.1)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\users\amudd\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow>=2.0->keras-tuner) (4.2.2)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\amudd\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow>=2.0->keras-tuner) (4.7.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\amudd\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow>=2.0->keras-tuner) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\amudd\anaconda3\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow>=2.0->keras-tuner) (1.3.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\amudd\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow>=2.0->keras-tuner) (0.4.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\amudd\anaconda3\lib\site-packages (from requests->keras-tuner) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\amudd\anaconda3\lib\site-packages (from requests->keras-tuner) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\amudd\anaconda3\lib\site-packages (from requests->keras-tuner) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\amudd\anaconda3\lib\site-packages (from requests->keras-tuner) (2.0.4)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\amudd\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow>=2.0->keras-tuner) (3.2.2)
Requirement already satisfied: backcall in c:\users\amudd\anaconda3\lib\site-packages (from ipython->keras-tuner) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\amudd\anaconda3\lib\site-packages (from ipython->keras-tuner) (3.0.20)
Requirement already satisfied: stack-data in c:\users\amudd\anaconda3\lib\site-packages (from ipython->keras-tuner) (0.2.0)
Requirement already satisfied: decorator in c:\users\amudd\anaconda3\lib\site-packages (from ipython->keras-tuner) (5.1.1)
Requirement already satisfied: matplotlib-inline in c:\users\amudd\anaconda3\lib\site-packages (from ipython->keras-tuner) (0.1.2)
Requirement already satisfied: pickleshare in c:\users\amudd\anaconda3\lib\site-packages (from ipython->keras-tuner) (0.7.5)
Requirement already satisfied: colorama in c:\users\amudd\anaconda3\lib\site-packages (from ipython->keras-tuner) (0.4.4)
Requirement already satisfied: traitlets>=5 in c:\users\amudd\anaconda3\lib\site-packages (from ipython->keras-tuner) (5.1.1)
Requirement already satisfied: pygments>=2.4.0 in c:\users\amudd\anaconda3\lib\site-packages (from ipython->keras-tuner) (2.11.2)
Requirement already satisfied: jedi>=0.16 in c:\users\amudd\anaconda3\lib\site-packages (from ipython->keras-tuner) (0.18.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\amudd\anaconda3\lib\site-packages (from jedi>=0.16->ipython->keras-tuner) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\amudd\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->keras-tuner) (0.2.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\amudd\anaconda3\lib\site-packages (from packaging->keras-tuner) (3.0.4)
Requirement already satisfied: pure-eval in c:\users\amudd\anaconda3\lib\site-packages (from stack-data->ipython->keras-tuner) (0.2.2)
Requirement already satisfied: asttokens in c:\users\amudd\anaconda3\lib\site-packages (from stack-data->ipython->keras-tuner) (2.0.5)
Requirement already satisfied: executing in c:\users\amudd\anaconda3\lib\site-packages (from stack-data->ipython->keras-tuner) (0.8.3)

## Compile, Train and Evaluate the Model ##

In [30]:
X_train_scaled.shape[1]

42

In [31]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()
    
    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=10,
        step=2), activation=activation, input_dim=X_train_scaled.shape[1]))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=10,
            step=2),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [32]:
import keras_tuner as kt
tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test), batch_size=32)

INFO:tensorflow:Reloading Tuner from .\untitled_project\tuner0.json

KeyError: <keras_tuner.engine.trial.Trial object at 0x000001C4E7501460>